body{
	background-color: #FFC300;
}

#map {
	width: 100%;
    height: 90vh;
     
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.botones-cont{
	margin-top: 1vh;
	padding: 1%;
}